@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap');
body {
    font-family: 'Sora', sans-serif;
}

#btnWrap {
    text-align: center;
    margin-top: 150px;
}

.cButton {
    padding: 15px 23px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    background-color: #0095ff;
    border: #0095ff;
    color: #fff;
}

.cButton:hover,
.cButton:focus {
    background-color: #0077cc;
    cursor: pointer;
}

.cButton:active {
    background-color: #0064bd;
}

#formContact {
    max-width: 500px;
    margin: auto;
    padding: 10px;
    display: none;
}

#cBack {
    display: block;
    text-align: right;
    margin-top: -23px;
    color: #0077cc;
}

#cBack:hover {
    cursor: pointer;
}

#cHeadText {
    padding: 0px 3px;
    display: inline-block;
    margin: 0px;
}

.cWrap {
    position: relative;
    margin-top: 20px;
}

.cText:focus~label,
.cText:not(:placeholder-shown)~label,
.cEmail:focus~label,
.cEmail:not(:placeholder-shown)~label,
.cSelect:focus~label,
.cSelect:not(:placeholder-shown)~label,
.cTextarea:focus~label,
.cTextarea:not(:placeholder-shown)~label {
    transform: scale(.85) translateY(-1rem) translateX(.5rem);
    opacity: 1;
    padding: 0px 5px;
    margin: 0px;
    background-color: #FFF;
}

.cText,
.cEmail,
.cSelect,
.cTextarea {
    width: 100%;
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.5rem;
    border: 1px solid #000000;
}

.cText:focus,
.cEmail:focus,
.cSelect:focus,
.cTextarea:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    border: 1px solid #86b7fe;
    outline: 1px solid #86b7fe;
}

.cText::placeholder,
.cEmail::placeholder,
.cSelect::placeholder,
.cTextarea::placeholder {
    color: transparent;
}

select,
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

.cLabel {
    font-size: 1.5rem;
    opacity: .65;
    position: absolute;
    top: 0;
    left: 0;
    margin: 17px;
}

#cFeedbackText,
#cSuggestText {
    height: 10rem;
}

.error {
    border: 1px solid #dc3545;
    outline: 1px solid #dc3545;
}

.error:focus {
    box-shadow: 0 0 0 0.25rem rgb(255 0 0 / 25%);
    border: 1px solid #dc3545;
    outline: 1px solid #dc3545;
}

.success {
    border: 1px solid #198754;
    outline: 1px solid #198754;
}

.success:focus {
    box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
    border: 1px solid #198754;
    outline: 1px solid #198754;
}

.errorText {
    color: #dc3545;
    font-size: 1.5rem;
    margin: 10px 0px 0px 0px;
    display: none;
}

.successCheck {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    margin: 15px;
    font-weight: bold;
    color: #198754;
    display: none;
}

.warningIcon {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    margin: 15px;
    font-weight: bold;
    color: #dc3545;
    display: none;
}

#cSuggestWrap {
    display: none;
}

#cSubmitWrap {
    text-align: right;
}